
body {
    display: flex;
    justify-content: center;
}

.wrap {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.post {
    width: 210px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.comment {
    width: 210px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

